[package]
name = "bitcoinconsensus"
version = "0.16.4"
authors = ["Tamas Blummer <tamas.blummer@gmail.com>"]
license = "Apache-2.0"
homepage = "https://github.com/rust-bitcoin/rust-bitcoinconsensus/"
repository = "https://github.com/rust-bitcoin/rust-bitcoinconsensus/"
description = "Bitcoin's libbitcoinconsensus with Rust binding."
keywords = [ "bitcoin", "bitcoinconsensus", "libbitcoinconsensus" ]
readme = "README.md"
exclude = ["/bitcoin/.github/**", "/bitcoin/.tx/**", "/bitcoin/build-aux/**", "/bitcoin/contrib/**", "/bitcoin/depends/**", "/bitcoin/doc/**", "/bitcoin/share/**", "/bitcoin/test/**", "/bitcoin/src/bench/**", "/bitcoin/src/config/**", "/bitcoin/src/consensus/**", "/bitcoin/src/leveldb/**", "/bitcoin/src/objtest/**", "/bitcoin/src/obj/**", "/bitcoin/src/policy/**", "/bitcoin/src/qt/**", "/bitcoin/src/rpc/**", "/bitcoin/src/support/**", "/bitcoin/src/test/**", "/bitcoin/src/univalue/**", "/bitcoin/src/wallet/**", "/bitcoin/src/zmq/**"]
build = "build.rs"

[lib]
name = "bitcoinconsensus"
path = "src/lib.rs"

[dependencies]
libc="0.2"

[build-dependencies]
cc = "=1.0.26"

[dev-dependencies]
rustc-serialize = "0.3"
secp256k1 = "0.12"
